<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Essência Perfumes e Cosméticos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteFinal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CadastroProduto.css" asp-append-version="true" />
</head>
<body class="colorir">
    <header class="menu">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="https://marketplace.canva.com/EAE-P4v6bNQ/1/0/1600w/canva-logotipo-de-espa%C3%A7o-de-beleza-cosm%C3%A9ticos-delicado-46iV47eKwts.jpg" /></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pessoa" asp-action="Index">Cadastre-se agora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CadastroProduto" asp-action="Index">Cadastre seu Produto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Marca" asp-action="Index">Marca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Categoria do Produto</a>
                        </li>
                    </ul>
                    <div class="form">   
                          <input autocomplete="off" name="search" 
                              placeholder="Busque seu produto" 
                              type="search" maxlength="50" 
                              class="MuiInputBase-input MuiInput-input natds32 natds34 MuiInputBase-inputTypeSearch MuiInput-inputTypeSearch" 
                              value=""/> 
                    </div>
                    <div class="imagem">
                        <img class="procurar" src="https://img.freepik.com/vetores-premium/icone-de-pesquisa-simbolo-da-lupa-icone-de-contorno_543062-139.jpg" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Essência Pesfumes e Cosméticos - <a asp-area="" asp-controller="Home" asp-action="Fale conosco">Fale conosco</a> <img class="telefone" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbWLFZOK5qwPROQBJdZwgy7CbPPOXvTzMbwBOxAWfyQj7TWdCC9gK9RK1mnStGRqsD24A&usqp=CAU" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
