@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ESSÊNCIA PERFUMES E COSMÉTICOS</h1>
    <div class="imagem-inicio">
        <img src="https://img.freepik.com/fotos-premium/perfume-e-rosas-cor-de-rosa-em-fundo-branco_392895-62471.jpg" />
    </div>