@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Borcelle Cosméticos e Perfumes</h1>
    <div>
        <img class="imagem-inicio" src="https://img.freepik.com/fotos-premium/perfumes-de-cosmeticos-naturais-em-uma-garrafa-de-vidro-em-um-fundo-rosa-e-delicadas-flores-de-peonia-o-aroma-do-perfume-feminino-espaco-para-texto_425936-4058.jpg" />
    </div>
    <div class="frase">
         <h5>Deixe sua marca no mundo... e no ar!</h5>
     </div>
