html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lavenderblush;
}
.logo {
    font-family: Helvetica Neue;
    width: 90px;
    height: 90px;
    color: black;
}