html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: black;
        font-family: Helvetica Neue;
        color: deeppink;
    }
}

html {
    position: relative;
    font-family: Helvetica Neue;
    color: deeppink;
}

body {
    margin-bottom: 60px;
    font-family: Helvetica Neue;
    color: deeppink;
}
.logo {
    font-family: Helvetica Neue;
    width: 90px;
    color: deeppink;
}
.tela-inicial {
    text-align: center;
    width: 1520px;
    height: 900px;
    border: solid 2px;
}
.telefone {
    width: 50px;
}
.colorir {
    background-color: lavenderblush;
}
.text-center {
    font-family: Helvetica Neue;
    color:deeppink;
}